nav {
  display: flex;
  --animate-duration: 0.65s;
  --animate-delay: 0.65s;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  width: 100vw;
  background-color: black;
  color: white;
}

nav svg {
  position: absolute;
  top: 20px;
  left: 22px;
  height: 36px;
  width: 36px;
}

nav .item {
  width: 100vw;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: -2.2em;
}

nav .item:hover {
  color: var(--secondary-text-color);
}
