header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 12vh;
}

.burger-icon {
  display: none;
  margin-left: 1.5em;
  fill: rgb(147, 147, 150);
}

.header-options {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: auto;
  font-size: 1.25em;
  font-weight: 500;
  color: var(--primary-text-color);
}

.header-options a {
  position: relative;
}

.header-options a:before {
  content: " ";
  visibility: hidden;
  width: 0;
  bottom: 0;
  transform: translateY(8.5px);
  position: absolute;
  height: 3px;
  background-color: var(--secondary-text-color);
  transition: all 0.3s ease-in-out;
}

.header-options a:hover:before {
  visibility: visible;
  width: 100%;
}

.header-options a:hover {
  color: var(--secondary-text-color);
}

header .dark-toggle-icon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 0 4em;
  height: 2.625em;
  width: 2.625em;
}

@media screen and (max-width: 768px) {
  .burger-icon {
    display: unset;
  }
  .header-options {
    display: none;
  }

  header .dark-toggle-icon {
    margin-left: auto;
    margin-right: 1em;
  }
}
