header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.header-options {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: auto;
  font-size: 1.25em;
  font-weight: 500;
  color: var(--primary-text-color);
}

.header-options span:hover {
  color: var(--secondary-text-color);
}

header svg {
  cursor: pointer;
  margin: 0 4em;
  height: 2.625em;
  width: 2.625em;
}
