:root {
  --background: #eeeeee;
  --primary-text-color: rgb(82, 88, 92);
  --secondary-text-color: rgb(0, 123, 255);
  --animate-duration: 1.5s !important;
  --animate-delay: 1.5s !important;
}

:root[dark*="true"] {
  --background: #161625;
  --primary-text-color: rgb(189, 189, 189);
  --github-icon-dark-mode-color: white;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-regular-webfont.eot");
  src: url("../public/fonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/archia-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/archia-regular-webfont.woff") format("woff"),
    url("../public/fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-medium-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-bold-webfont.woff2") format("woff2");
  font-weight: 900;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "archia", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  height: 90vh;
}
