:root {
  --background: #eeeeee;
  --background-item: white;
  --item-shadow: rgb(0 0 0 / 8%);
  --item-shadow-hover: rgb(184 184 217);
  --primary-text-color: rgb(82, 88, 92);
  --secondary-text-color: rgb(0, 123, 255);
  --stack-color: black;
  --animate-duration: 1.5s !important;
  --animate-delay: 1.5s !important;
}

:root[dark*="true"] {
  --background: #161625;
  --item-shadow: rgb(0 1 0);
  --item-shadow-hover: rgb(0 1 0);
  --background-item: rgb(30, 30, 48);
  --primary-text-color: rgb(189, 189, 189);
  --stack-color: rgb(0, 123, 255);
  --github-icon-dark-mode-color: white;
}

/* @font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-regular-webfont.eot");
  src: url("../public/fonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/archia-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/archia-regular-webfont.woff") format("woff"),
    url("../public/fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-medium-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "archia";
  src: url("../public/fonts/archia-bold-webfont.woff2") format("woff2");
  font-weight: 900;
} */

body {
  margin: 0;
  background-color: var(--background);
  font-family: "archia", sans-serif;
}

#root {
  z-index: 0;
  overflow-x: hidden;
}
#burger-menu-root {
  z-index: 1;
  position: absolute;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

main {
  /* height: 90vh; */
}
